table {
  width: 100%;
  max-width: 1024px;
  table-layout: fixed;
}

tr {
  position: relative;
}

th {
  padding: 20px;
  border: 1px solid black;
  word-wrap: break-word;
  width: 100%;
}

.deleteButton {
  right: -75px;
  height: 30px;
  display: inline-block;
  align-items: center;
  position: absolute;
}



.edit {
  font-size: 0px;
  background-color: red;
}

.input-none > input { 
  display: none;
}

input.edit {
  font-size: 14px;
  background-color: white;

}
.defaultInput {
  display: none;
}

.input-none > .inputStopEdit {
  display: none;
}